.main {
  width: 100%;
  max-width: 1440px;
  padding: 5px;
  margin: auto;
}
.headingContainer {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  margin-bottom: 50px;
}
.heading1 {
  width: 30%;
}
.heading2 {
  width: 60%;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}

.couponList {
  width: 30%;
  height: 70vh;
  padding: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  overflow-y: auto;
}

.couponInfo {
  width: 60%;
  height: 70vh;
  padding: 10px;
  font-weight: 400;
  font-size: 17.7535px;
  line-height: 25px;
  letter-spacing: -0.02em;

  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  overflow-y: auto;
}

.singleEl {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 17.7535px;
  line-height: 25px;
  letter-spacing: -0.02em;
  background-color: white;
  margin-bottom: 10px;
  cursor: pointer;
}

.decideIdField {
  width: 80%;
}

.decideIdField:hover {
  background-color: whitesmoke;
}

.activate {
  background-color: whitesmoke;
}

.addbtn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: white;
  background-color: #556cd6;
  border-radius: 5px;
}

.couponInfowrapper {
  display: flex;
  justify-content: space-between;
}

.editBtn {
  width: 35px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: white;
  background-color: #556cd6;
  border-radius: 5px;
}
